.card {
    box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
-webkit-box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
-moz-box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
}

.pwd {
    position: relative;
}
.passwordIconHolder{
    z-index: 9999;
    position: absolute;
    top: 20%;
    right: 10px;
}

.passwordIcon{
    color:#000"
}
.passwordIcon:hover{
    cursor: pointer;
}