
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

footer{
    min-height: 50px;
    overflow: hidden;
}

#pageContent {
    margin-top: 70px;
    flex: 1;
}

.landing-video{
    position: fixed;
    z-index: -20;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    
}

video{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.closeButton{
    background-color: transparent;
    border: none;
    color:whitesmoke;
}

.card {
    box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
-webkit-box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
-moz-box-shadow: 3px 7px 19px 0px rgba(46,34,34,0.75);
}

.pwd {
    position: relative;
}
.passwordIconHolder{
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 10px;
}

.passwordIcon{
    color:#000"
}
.passwordIcon:hover{
    cursor: pointer;
}


.cartIcon{
    background-color: transparent;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    border: 2px ridge #000000;

    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}
.card-img-top{
    height: 250px;
}

.actionButton{
    background-color: transparent;
    border: none;
}


/* Parsley css */

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}



/* Parsley css */